body {
      background-color: #1c1c1c;
      color: white;
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    h1 {
      margin-bottom: 20px;
      text-align: center;
    }

    .filmes-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
    }

    .filme {
      background-color: #2a2a2a;
      border-radius: 10px;
      width: 180px;
      padding: 10px;;
    }

    .filme img {
      width: 100%;
      border-radius: 10px;
    }

    .filme h3 {
      font-size: 16px;
      margin: 10px 0 5px;
    }

    .filme p {
      font-size: 14px;
      margin: 2px 0;
      color: #ccc;
    }

    .etiqueta {
      display: inline-block;
      background-color: #e50914;
      color: white;
      padding: 2px 6px;
      font-size: 12px;
      border-radius: 4px;
      margin-bottom: 5px;
    }
.menu {
    background-color: #333;
    width: 80%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: system-ui, sans-serif;
}
.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.menu a:hover {
    text-decoration: underline;
    color: #e50914;
    font-weight: bold;
}
.banner{
    margin: auto;
    border-radius: 15px;
    display: flex;
}
.Programação{
    margin-top: 20px;;
    display: flex;
    margin-left: 255px;
}
.btn-carregar-mais {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(255, 0, 0);
    background-color: #e20a15;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}